@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Poppins:wght@400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input, textarea:focus {
  outline: none;
}

#backtop {
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  border-radius: 45%;
  background-color: rgba(158, 158, 158, 0.7019607843);
  opacity: 0;
  transition: 0.5s;
}

#backtop i {
  color: #1C1E53;
  font-size: 1.875rem;
}

@media (min-width: 100px) {
  :root {
    font-size: 13px;
  }
}
@media (min-width: 576px) {
  :root {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  :root {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  :root {
    font-size: 16px !important;
  }
}
header {
  background-color: #1C1E53 !important;
}

.container-fluid::after,
.container::after,
aside::after,
footer::after,
header::after,
section::after,
.container-fluid::after,
.container::after,
aside::after,
footer::after,
header::after,
section::after {
  display: none;
  clear: both;
  content: "";
}

.dropdown-toggle::before {
  display: none;
}

nav {
  padding-bottom: 209px;
}

.navbar {
  padding: 22px 0;
}

.navbar-shrink {
  z-index: 99;
}
.navbar-shrink .navbar {
  padding: 15px 0;
  transition: 0.5s;
}
.navbar-shrink .bg-body-tertiary {
  box-shadow: 0 3px 3px 0 #9c9ff3;
}

.bg-body-tertiary {
  background-color: #1C1E53 !important;
}

.custom-droplink {
  transition: 0.3s;
}
.custom-droplink:hover, .custom-droplink:focus {
  color: #1C1E53;
}

.custom-navlink {
  padding: 0 20px !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: #bbbbcb;
  transition: 0.3s;
}
@media (max-width: 992px) {
  .custom-navlink {
    padding: 10px 0 !important;
  }
}
.custom-navlink:hover, .custom-navlink:focus {
  color: #FFFFFF;
}

.navbar-btn {
  padding: 16px 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: #ffffff;
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
  transition: 0.3s;
}
.navbar-btn:hover {
  background-color: rgb(65, 67, 125);
}

.offcanvas {
  visibility: hidden;
  background-color: #1C1E53;
}

.btn-close {
  color: grey;
}
.btn-close:focus {
  box-shadow: 0 0 0 0.25rem rgba(59, 59, 59, 0.2509803922);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem rgba(59, 59, 59, 0.2509803922);
}

.navbar-toggler-icon {
  background-image: url(../../images/header/nav-btn.svg) !important;
  color: transparent !important;
}

.btn-close {
  --bs-btn-close-bg: url(../../images/header/nav-close.svg);
  transition: 0.3s;
}

.footer-top__left,
.footer-top__right {
  width: 100%;
}
@media (min-width: 768px) {
  .footer-top__left,
.footer-top__right {
    width: 50%;
  }
}

footer .footer {
  padding: 96px 0 0;
  background: #1c1e53;
}
footer .footer-top {
  -moz-column-gap: 142px;
       column-gap: 142px;
}
footer .footer-top__left p {
  max-width: 399px;
  margin: 23px 0 86px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}
footer .footer-top__left .footer-top__contact {
  padding: 17px 0 17px 37px;
  width: 100%;
  background: #fcd980;
}
footer .footer-top__left .footer-top__contact h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 32px;
  color: #282938;
}
footer .footer-top__left .footer-top__contact a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  color: rgba(40, 41, 56, 0.8);
}
footer .footer-top__right h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 64px;
  color: #ffffff;
}
footer .footer-top__right p {
  margin: 14px 0 28px;
  max-width: 399px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  color: rgba(244, 246, 252, 0.8);
}
footer .footer-top__right .top-right__icons {
  display: flex;
  gap: 26px;
}
footer .footer-top__right .top-right__icons i {
  font-size: 16px;
  color: white;
}
footer .footer-bottom a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: #282938;
  transition: 0.3s;
}
footer .footer-bottom a:hover {
  color: #a2a5b5;
}

li {
  list-style-type: disc;
}

#readblog {
  padding-bottom: 128px;
}
#readblog .readblog-head h2 {
  max-width: 949px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 64px;
  color: #282938;
}
#readblog .readblog-head h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: #282938;
  opacity: 0.87;
}
#readblog .readblog-head h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: #282938;
}
#readblog .readblog-content .readblog-content__text h3 {
  padding-top: 48px;
}
#readblog .readblog-content h3 {
  max-width: 842px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.375rem;
  line-height: 56px;
  text-align: start !important;
  color: #282938;
}
#readblog .readblog-content p {
  padding-top: 32px;
  max-width: 842px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
}
#readblog .readblog-content ul {
  margin-top: 24px;
}
#readblog .readblog-content ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
}