@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

header {
  background-color: $primary-color !important;
}

.container-fluid::after,
.container::after,
aside::after,
footer::after,
header::after,
section::after,
.container-fluid::after,
.container::after,
aside::after,
footer::after,
header::after,
section::after {
  display: none;
  clear: both;
  content: "";
}

.dropdown-toggle::before {
  display: none;
}

.navbar {
  padding: 22px 0;
}

.navbar-shrink {
  z-index: 99;
  .navbar {
    padding: 15px 0;
    transition: 0.5s;
  }
  .bg-body-tertiary {
    box-shadow: 0 3px 3px 0 rgba($color: #d47575, $alpha: 1);
  }
}

.bg-body-tertiary {
  background-color: $primary-color !important;
}

.custom-droplink {
  transition: 0.3s;
  &:hover,
  &:focus {
    color: $primary-color;
  }
}

// .navbar-toggler {
//   color: #FFFFFF !important;
// }

// .navbar-toggler-icon {
//   color: white !important;
// }
.custom-navlink {
  padding: 0 20px !important;
  @media (max-width: 992px) {
    padding: 10px 0 !important;
  }
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: #bbbbcb;
  transition: 0.3s;
  &:hover,
  &:focus {
    color: $nav-hover;
  }
}

.navbar-btn {
  padding: 16px 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: #ffffff;
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
}

.offcanvas {
  visibility: hidden;
  background-color: $primary-color;
}

.btn-close {
  color: grey;
  &:focus {
    box-shadow: 0 0 0 0.25rem #3b3b3b40;
  }
}

.navbar-toggler {
  &:focus {
    box-shadow: 0 0 0 0.1rem #3b3b3b40;
  }
}
.navbar-toggler-icon {
  background-image: url(../../images/header/nav-btn.svg) !important;
  color: transparent !important;
}

.btn-close {
  --bs-btn-close-bg: url(../../images/header/nav-close.svg);
  transition: 0.3s;
}
