// Colors
$royal-blue: #2405f2;
$dark-blue: #282938;
$grey: #f4f6fc;
$yellow: #fcd980;
$tint-blue: #1c1e53;
$accent: #eef4fa;
$primary-color: #fcd980;

// BTN-HOVER-COLOR
$btn-hover-color: #fde4a6;
$btn-hover: #535460;
